---
title: ""
layout: single
author_profile: true
classes: wide
permalink: /
date: 2020-12-24T11:48:41-04:00

header:
  image: /assets/images/wichtel.jpg
  actions:
    - label: "Ein digitaler Weihnachtskalender"
      url: "https://www.youtube.com/watch?v=XMyeUL8NRXs"
  caption: "Photo credit: [**Laika**](https://www.youtube.com/watch?v=XMyeUL8NRXs)"
excerpt: "Kalender"

feature_row:
  - image_path: assets/images/1_.JPG
    alt: "placeholder image 2"
    url: "ersteTuere"
    btn_label: "1. Türe"
    btn_class: "btn--success"
  - image_path: /assets/images/2_.jpg
    alt: "placeholder image 2"
    url: "/zweiteTuere"
    btn_label: "2. Türe"
    btn_class: "btn--success"
  - image_path: /assets/images/3_.jpg
    url: "/dritte"
    btn_label: "3. Türe"
    btn_class: "btn--success"
  - image_path: /assets/images/4_.jpg
    url: "/vierte"
    btn_label: "4. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/5_.png
    url: "/fuenf"
    btn_label: "5. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/6_.jpg
    url: "/sechste"
    btn_label: "6. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/7_.jpg
    url: "/siebte"
    btn_label: "7. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/8_.jpg
    url: "/achtete"
    btn_label: "8. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/9_.png
    url: "/neuner"
    btn_label: "9. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/10_.jpg
    url: "/zehne"
    btn_label: "10. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/11_.jpg
    url: "/elf"
    btn_label: "11. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/12_.JPG
    url: "/zwalf"
    btn_label: "12. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/13_.jpg
    url: "/dreizehn"
    btn_label: "13. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/14_.JPG
    url: "/vierzehn"
    btn_label: "14. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/15_.png
    url: "/fuenfzehn"
    btn_label: "15. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/16_.jpg
    url: "/sechszehn"
    btn_label: "16. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/17_.jpg
    url: "/siebzehn"
    btn_label: "17. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/18_.JPG
    url: "/achtzehn"
    btn_label: "18. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/19_.jpg
    url: "/neunzehn"
    btn_label: "19. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/20_.JPG
    url: "/zwanzig"
    btn_label: "20. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/21_.jpg
    url: "/einundzwanzig"
    btn_label: "21. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/22_.JPG
    url: "/zweiundzwanzig"
    btn_label: "22. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/23_.JPG
    url: "https://www.instagram.com/p/CJK_8E1Bd6i/"
    btn_label: "23. Türe"
    btn_class: "btn--success"
  - image_path: assets/images/24_.JPG
    url: "/vierundzwanzig"
    btn_label: "24. Türe"
    btn_class: "btn--success"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
